* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #ddd5d584;
    --quaternary-color:  #ddd5d5;

    --navbarBtn: #fff;

    --mediaApp-font: "Dancing_Script";
}
.dark-theme
{
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: #ddd5d584;
    --quaternary-color:  #ddd5d5;

    --navbarBtn: #fff;
}
@font-face 
{
    font-family: "Dancing_Script";
    src: url('./Dancing_Script/DancingScript-VariableFont_wght.ttf');
}
body
{
    background-color: var(--primary-color);
}
/* ============================== sidebar ============================= */
.sidebar
{
    max-width: 250px;
    min-width: 250px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 1px var(--secondary-color);
    transition: all 0.5s;
    min-height: 100vh;
}
.sideBarBtn
{
    cursor: pointer;
    width: 100%;
    border-radius: 5px; 
    color: var(--secondary-color);
}
.sideBarBtn:hover
{
   background-color: var(--tertiary-color);
   color: var(--secondary-color);
}
.sideBarBtn svg
{
    fill: var(--secondary-color);
    width: 12%;
}
.sideBarBtn img
{
    width: 12%;
}
.sideBarBtn .messaSvg
{
    stroke: var(--secondary-color);
}
.h3
{
    color: var(--secondary-color);
    font-family: var(--mediaApp-font);
}
.dropdown-menu
{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.dropdown-menu a
{
    color: var(--secondary-color);
    cursor: pointer;
}
.dropdown-menu .dropdown-divider
{
    background-color: var(--secondary-color);
}
/* ============================== navbar ============================= */
nav
{
    display: none;
    visibility: hidden;
}
/* ============================== content ============================= */
.content
{
    min-height: 100vh;
    width: 100%;
}
.hide
{
    display: none;
}
/* ============================== main-content ============================= */
.main-content .settings
{
    color: var(--secondary-color);
    margin-left: 190px;
}
/*  ================ contentEdit =================== */
.contentEdit
{
    border: 1px solid;
}
.contentEdit .menuEdit ul
{
    border-bottom: 1px solid;
    justify-content: space-between;
}
.contentEdit .menuEdit ul li 
{
    list-style: none;
}
.contentEdit .menuEdit ul li:last-child
{
    border-bottom: 1px solid var(--secondary-color);
}
.contentEdit .menuEdit ul a:hover
{
    background-color: var(--tertiary-color);
    border-radius: 5px;
}
.contentEdit .menuEdit ul li a
{
    color: var(--secondary-color);
    font-size: 14px;
}
.contentEdit h4
{
    color: var(--secondary-color);
}
.submitInput .submit
{
    border-radius: 5px;
    background-color: blue;
    font-size: 14px;
}



/* @@@@@@@@@@@@@@@@@Media@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 1251px) {
    .main-content .settings
    {
      margin-left: 220px;
    }
}
@media (max-width: 1058px) {
    .main-content .settings
    {
      margin-left: 220px;
    }
}
@media (max-width: 1000px) {
    /* ============================== sidebar ============================= */
    .sidebar
    {
        max-width: 85px;
        min-width: 85px;
        min-height: 100vh;
    }
    .sideBarBtn span 
    {
       display: none;
       visibility: hidden;
    }
    .sideBarBtn svg
    {
        width: 100%;
    }
    .sideBarBtn img
    {
        width: 100%;
    }
    .h3
    {
        display: none;
        visibility: hidden;
    }
    /* =================== */
    .main-content p
    {
        font-size: 18px; 
    }
    .main-content .buttons button
    {
        font-size: 14px; 
    }
    }
@media (max-width: 776px) {
    .sidebar
    {
        display: none;
        visibility: hidden;
    }
    .main-content .settings
    {
      margin-left: 0px;
    }

    nav
   {
     background-color: var(--primary-color);
     border-top: 1px solid;
     display: block;
     visibility: visible;
   }
   nav .container
  {
    justify-content: space-between;
  }
   nav svg
  {
    fill: var(--secondary-color);
    width: 5%;
    cursor: pointer;
  }
   nav img
   {
    width: 5%;
    cursor: pointer;
   }
  nav .messaSvg
  {
    stroke: var(--secondary-color);
  }
}
@media (max-width: 480px) {

    .contentEdit .menuEdit ul li a
    {
       font-size: 10px;
    }
}
@media (max-width: 400px) {

    nav svg
    {
      width: 7%;
    }
     nav img
     {
      width: 7%;
     }

     .contentEdit .menuEdit ul li a
     {
        font-size: 8px;
     }
}